:root {
    --light-blue: #89c9ff;
    --light-gray: #899bb4;
    --pale-green: #7aa2af;
    --blue: #334b71;
    --brown: #9d9d9d;
    --dark-gray: #788da3;
    --rose: #a378a2;
}

/* General styles */
* {
    box-sizing: border-box;
}

html {
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
}

body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 1em;
}

ul, 
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

/* Structural Styles */
header, 
#work, 
#skills, 
#about, 
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
}

.content-wrapper {
    width: 85%;
}

#work p, 
#about p {
    text-align: left;
}

/* ---------- HEADER ---------- */
header, footer {
    background-color: var(--blue);
    width: 100%;
}

header nav ul li {
    margin: 20px 0px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

/* ---------- HOMEPAGE ---------- */
/* Projects */
#work {
    background-color: var(--pale-green);
}

.portfolio-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}

.portfolio-piece {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio-piece figure {
    width: 90%;
    filter: drop-shadow(1px 3px 6px lightgrey);
}

/* Skills */
#skills {
    background-color: var(--light-gray);
}

.language-wrapper ul {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.tool-wrapper h4 {
    padding: 1em;
}

/* About */
#about {
    background-color: var(--rose);
}

#profile-image {
    width: 65%;
}

/* ---------- FOOTER ---------- */
footer .contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}

footer .contact-info {
    width: 60%;
}

footer .contact-info follow {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

footer .social-icons {
    display: flex;
    justify-content: space-around;
}

footer ul {
    width: 100%;
}

footer .social-icons li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}