:root {
    --blue: #334b71;
    --dark-gray: #788da3;
    --light-blue: #89c9ff;
    --rose: #a378a2;
}

/* General styles */
* {
    box-sizing: border-box;
}

html {
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    /* Alt font Arial sans-serif */
}

ul, 
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 2.35rem;
}

h2 {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 1.85rem;
}

h3 {
    font-size: 1.5rem;
    border-bottom: 1px solid #fff;
    padding-bottom: 18px;
    text-transform: uppercase;
}

h4 {
    font-size: 1.35rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    font-size: 1.1rem;
}

span {
    font-weight: bold;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

i {
    color: var(--rose);
}

#scroll-button {
    display: none;
    position: fixed;
    bottom: 2.75em;
    right: 2.75%;
    z-index: 9999;
    border: 2px solid var(--blue);
    outline: none;
    background-color: rgba(247, 243, 244, 0.65);
    color: var(--blue);
    cursor: pointer;
    padding: 20px 25px 20px 25px;
    border-radius: 50%;
    font-size: 1em;
}

#scroll-button:hover {
    background-color: var(--light-blue);
}

/* Structural Styles */
header, 
#work, 
#skills, 
#about, 
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
}

.content-wrapper {
    width: 85%;
    margin: 15px 0;
    max-width: 1200px;
}

#work p, 
#about p {
    text-align: left;
}

/* ---------- HEADER ---------- */
header, footer {
    background-color: var(--blue);
    width: 100%;
}

header {
    background: url("../img/bg-1.jpg") no-repeat center fixed;
    background-size: cover;
}

/* Background photo by Clément Hélardot
 https://unsplash.com/photos/95YRwf6CNw8 */

header .content-wrapper {
    background: rgba(51, 75, 113, 0.97);
    border-radius: 5%;
}


/* Nav Open Button */
.toggle {
    background: #89c9ff;
    outline: 0;
    margin-top: 15px;
    padding: 10px 15px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

.toggle:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    background: var(--rose);
}

.toggle i {
    color: #fff;
}

/* Nav Position and Opening Class*/
.full-screen-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s ease-in-out;
    display: none;
    z-index: 9999;
}

.open-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Backdrop position and animation */
.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.93);
    cursor: pointer;
    animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* List item styling and animation */
ul {
    z-index: 9999;
    position: relative;
}

ul li {
    list-style-type: none;
    text-align: center;
    margin-bottom: 30px;
    animation: 0.25s ease-in-out animateList forwards;
}

ul li:last-child {
    margin-bottom: 0;
}

@keyframes animateList {
    from {
        margin-top: -60px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

/* Item links styles and hover effects */
ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.15s ease-in-out;
}

ul li a i {
    color: var(--light-blue);
}

ul li a:hover {
    color: var(--light-blue);
}

/* --- Alternate Title Text Scroll --- */
.i-title {
    height: 50px;
    overflow: hidden;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform:translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: var(--rose);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------- INTRO TITLE -------- */

#home i {
    color: #a378a2;
}

/* Intro Photo */
.i-photo {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.i-photo img {
    border-radius: 50% !important;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 0 0 5px rgba(250, 250, 250);
}

#profile-image {
    width: 125px;
}

.home-title {
    padding-bottom: 30px;
}

.header-icons {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
}

.header-icons i {
    color: #fff;
}

.header-icons i:hover {
    color: var(--light-blue);
}


/* ----------------- HOMEPAGE ----------------- */
/* About */
#about {
    background-color: var(--rose);
}

#about .content-wrapper {
    width: 75%;
}

#about-photo {
    border-radius: 15px;
}

#about img {
    border-radius: 50% !important;
    object-fit: cover;
    border: 5px solid #fff;
    overflow: hidden;
    width: 245px;
}

.about-text span {
    color: var(--light-blue);
    font-family: 'Roboto Serif', sans-serif;
}

/* Skills */
#skills {
    background-color: var(--blue);
}

.language-wrapper ul {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

#skills ul li {
    padding: 1em;
}

#skills i {
    color: var(--light-blue);
}

#skills i[title]:hover {
    content: attr(title);
    position: initial;
}

#skills a {
    font-size: initial;
}

#skills a i:hover {
    color: var(--rose);
}

/* Projects */
#work {
    background-color: var(--dark-gray);
}

#work h4 {
    color: var(--light-blue);
    margin-bottom: -2px;
}

#work span {
    color: var(--light-blue);
}

.portfolio-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}

.portfolio-piece {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.portfolio-piece figure {
    filter: drop-shadow(1px 3px 6px lightgrey);
}

.portfolio-piece figure:hover {
    transform: scale(1.07);
    filter: drop-shadow(0px 1px 3px plum);
}

.project-description {
    width: 95%;
}

/* ---------- FOOTER ---------- */
footer .contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}

footer .contact-info {
    width: 60%;
}

footer span {
    color: var(--light-blue);
    padding: 3px;
}

footer .contact-info follow {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

footer .social-icons {
    display: flex;
    justify-content: space-around;
}

footer ul {
    width: 100%;
}

footer .social-icons li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#connect a i:hover {
    color: var(--light-blue);
}

.copyright {
    color: var(--light-blue);
}

/* -------- Contact Form -------- */

.contact-form {
    padding: 1.75em;
    width: 95%;
}

form {
    padding: .25em;   
    text-align: center;
}

form input, form textarea {
    border: 1px white solid;
    border-radius: 5px;
    display: block;
    margin: 0 auto 1em auto;
    padding-left: 5px;
    width: 95%;
    height: 2em;
}

form #message {
    height: 10em;
}

form ::placeholder {
    color: var(--dark-gray);
    padding-top: 2px;
}

#contact-form button {
    background-color: var(--light-blue);
    border-radius: 5px;
    color: #fff;
    border: none;
    width: 60%;
    padding: 5px;
    font-size: 1.25em;
}

#contact-form button:hover {
    background-color: var(--rose);
}

/* ----------------------------------  MEDIA QUERIES ----------------- */
/* ---------- TABLET ---------- */

@media only screen and (min-width: 640px) {
    
    header .content-wrapper {
        margin: 25px;
        padding: 25px;
        width: 70%;
    }
    .menu-content {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 5px 20px;
    }

    #profile-image {
        width: 175px;
        height: auto;
        margin-top: -50px;
    }

    #about-photo {
        margin-top: 10px;
    }

    footer .contact-info {
        width: 50%;
    }

    footer .social-icons {
        display: flex;
        justify-content: space-around;
        flex-flow: column wrap;
        margin: 0;
    }

    footer .social-icons i {
        padding-bottom: 30px;
    }
}

/* ---------- DESKTOP ---------- */
@media only screen and (min-width: 1024px) {

    #scroll-button {
        padding: 25px 30px 25px 30px;
    }

    header .content-wrapper {
        margin: 45px;
        width: 65%;
    }

    .home-title {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #profile-image {
        width: 225px;
    }

    .home-name {
        margin-right: 20px;
    }

    #about .half-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;
    }

    #about figure {
        width: 50%;
        margin-right: 30px;
    }

    .about-text {
        width: 50%;
        margin-left: 15px;

    }

    #about img {
        width: 350px;
        height: auto;
    }

    .portfolio-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .portfolio-piece {
        width: 47%;
    }

    .contact-form {
        width: 70%;
    }
}